:root {
  --mainColor: black;
}

.post {
  border: 1px solid var(--mainColor);
  display: flex;
}

.title {
  composes: heading from "../shared/styles/typography.css";
  background-color: red;
}

.desc {
  background-color: yellow;
}
