@import "../shared/styles/variables.css";

.post {
  display: flex;
  padding: var(--mainMargin);
  border-bottom: 1px solid var(--grayColor);
}

.thumb {
  height: 110px;
  width: 110px;
  margin-right: var(--mainMargin);
}

.img {
  width: 100%;
  height: 100%;
}

.content {
  padding: var(--mainMargin) 0;
}

.title {
  composes: post-title from "../shared/styles/typography.css";
  color: var(--titleColor);
}

.desc {
  composes: post-desc from "../shared/styles/typography.css";
  color: var(--descColor);
}

.empty {
  background-color: var(--descColor);
  width: 100%;
  height: 100%;
}
